:root {
  --max-width: 1350px;
  --primary-color: red;
  --secondary-color: goldenrod;
  --light-color: white;
  --dark-color: #333;
}

.category {
  --sports-color: #f99500;
  --ent-color: #a66bbe;
  --tech-color: #009cff;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: var(--light-color);
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  margin-bottom: 0.55rem;
  line-height: 1.3;
}

.container .social a {
  text-decoration: none;
}
.container .social {
  display: flex;
  justify-content: center;
}
.social a img {
  height: 30px;
}
.social a img:hover {
  opacity: 0.5;
}

.container {
  border-radius: 15px;
  max-width: var(--max-width);
  margin: auto;
  padding: 10px 2rem;
  overflow: hidden;
}

/****************************************** navbar part *********************************/

.nav-bar .logoOne {
  height: 10vh;

  display: flex;
  position: absolute;
  animation-timing-function: ease-in-out;
  animation-name: movingLogoOne;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-direction: alternate-reverse;
  animation-delay: 0s;
}
.nav-bar .logoTwo {
  height: 20vh;
  display: flex;
  position: absolute;

  animation-name: movingLogoTwo;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-direction: alternate-reverse;
  animation-delay: 0s;
  animation-timing-function: ease-in-out;
}
@keyframes movingLogoOne {
  from {
    left: 10%;
    transform: translateY(-80px);
  }
  to {
    left: 50%;
    transform: translateY(-80px);
  }
}
@keyframes movingLogoTwo {
  from {
    right: 10%;
    transform: translateY(-80px);
  }
  to {
    right: 50%;
    transform: translateY(-80px);
  }
}

.nav-bar {
  height: 25vh;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
}
.nav-bar .buttonLeft {
  display: flex;
  position: relative;
  background: cornsilk;
  border: 1px solid black;
  border-radius: 10px;
  box-shadow: black 5px 5px 1px;
  height: 20%;
  align-items: center;
  justify-content: center;
}
.nav-bar .buttonLeft:hover {
  cursor: pointer;
  opacity: 0.7;
  background: brown;
}

.nav-bar .buttonRight {
  display: flex;
  position: relative;
  background: cornsilk;
  border: 1px solid black;
  border-radius: 10px;
  box-shadow: black 5px 5px 1px;
  height: 20%;
  align-items: center;
  justify-content: center;
}
.nav-bar .buttonRight:hover {
  cursor: pointer;
  opacity: 0.7;
  background: brown;
}

/****************************************** showcase part *********************************/

.container_header {
  color: black;
  background: linear-gradient(blue, black);
  padding: 2rem;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  flex: wrap;
  flex-direction: row;
  position: relative;
  height: 30%;
}

.py-2 .container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

#cardDetails {
  width: 30%;
  margin: 5px;
  border: 1px solid gray;
  box-shadow: 5px 5px;
  border-radius: 16px;
  text-align: center;
}

@import url("https://fonts.googleapis.com/css?family=Numans");

.showcase-container .category h1 {
  background: red;
  text-align: center;
  border-radius: 20px;
  border: 1px solid black;
}

.showcase-container .category img {
  position: relative;

  width: 200px;
}

.container_body {
  height: 100%;
  align-content: center;
  font-family: "Numans", sans-serif;
}

#usersTable {
  display: none;
}

#usersTable table {
  width: 100%;
  border: 1px solid gray;
}
#usersTable table tr td {
  border: 1px solid gray;
}
#cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  justify-self: center;
}

#cardDetails {
  cursor: pointer;
}

#cardDetails img {
  height: 100px;
}
#cardDetails:hover {
  background: #009cff;
}

.cardNewPage {
  font-size: 250%;
  display: flex;
  border: 1px solid black;
  border-radius: 20px;
  height: 100%;
  box-shadow: 5px 5px black;
}
.cardNewPage h3 {
  color: blue;
  text-decoration-line: underline;
}
.cardNewPage button {
  /* border-radius: 25px; */
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  border: 1px solid;
  cursor: pointer;
}
.cardNewPage .cardLeft {
  flex-basis: 33%;
}
.cardNewPage .cardRight {
  flex-basis: 66%;
}
.cardNewPage .cardRight img {
  height: 200px;
  border-radius: 50%;
}

/****************************************** footer part *********************************/

.footer-container ul li {
  list-style: none;
  display: inline;
  border: 1px solid black;
  background-color: black;
  padding: 3px;
}
.footer-container ul li a {
  text-decoration: none;
  background: rgb(255, 8, 8);
  text-align: center;
  border-radius: 20px 5px;
  font-size: 110%;
  color: white;
  margin: 5px;
}

.footer-container ul li a:hover {
  opacity: 0.5;
  color: #333;
}

.main-footer {
  border: solid 1px;
  bottom: 0;
  z-index: 2;
  background: rgb(0, 0, 0);
}

.main-footer .container {
  display: grid;
  font-size: 14px;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1rem;
  width: 100%;
  color: white;
}
.main-footer .container h3,
h2 {
  color: var(--light-color);
}

.main-footer .container :nth-child(5) {
  background: black;
  position: sticky;
}

.main-footer .container div li {
  margin: 0px;
  padding: 2px;
  display: grid;
  border-radius: 5px;
  width: 170px;
}
.main-footer .container div li :hover {
  background: red;
  color: black;
}

.main-footer .container {
  width: 100%;
}

.footer-container :nth-child(4) img:hover {
  opacity: 0.5;
  cursor: pointer;
}
.footer-container :nth-child(4) img {
  margin: 5px;
}
.footerImg img {
  height: 75px;
}

.footer_end {
  background: black;
  position: sticky;
  color: white;
  text-align: center;
}

/**************************************** Media Queries *********************************/

@media only screen and (min-width: 414px) and (max-width: 767px),
  (min-width: 412px) and (max-width: 767px),
  (min-width: 390px) and (max-width: 767px),
  (min-width: 428px) and (max-width: 767px),
  (min-width: 384px) and (max-width: 767px) {
  .buttonLeft {
    margin-top: 5px;
    margin-left: 70px;
  }
  .buttonRight {
    margin-top: 5px;
    margin-right: 70px;
  }
  .nav-bar .logoOne {
    height: 10vh;
    display: flex;
    position: absolute;
    animation-timing-function: ease-in-out;
    animation-name: movingLogoOne;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
    animation-delay: 0s;
  }
  .nav-bar .logoTwo {
    height: 20vh;
    display: flex;
    position: absolute;
    animation-name: movingLogoTwo;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
    animation-delay: 0s;
    animation-timing-function: ease-in-out;
  }
  @keyframes movingLogoOne {
    from {
      transform: translateY(-40px) translateX(10px);
    }
    to {
      transform: translateY(-40px) translateX(-40px);
    }
  }
  @keyframes movingLogoTwo {
    from {
      transform: translateY(-40px) translateX(-100px);
    }
    to {
      transform: translateY(-40px) translateX(-150px);
    }
  }
  .category .showcase_Img {
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .category .showcase_Img_2,
  .category .showcase_Img_3 {
    display: none;
  }

  #cards {
    display: flex;
    width: 100%;
    flex-direction: column;
    flex: wrap;
    justify-content: center;
    justify-self: center;
  }

  #cardDetails {
    width: 100%;
  }

  .py-2 .container {
    height: max-content;
    width: fit-content;
    padding: 10px;
  }

  tr {
    width: 20%;
  }

  .cardNewPage {
    font-size: 100%;
    display: flex;
    border: 1px solid black;
    border-radius: 20px;
    height: 100%;
    box-shadow: 5px 5px black;
  }
  .cardNewPage h3 {
    color: red;
    text-align: center;
    text-decoration-line: underline;
  }
  .cardNewPage button {
    /* border-radius: 25px; */
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border: 1px solid;
    cursor: pointer;
  }
  .cardNewPage .cardLeft {
    flex-basis: 33%;
    padding: 10px;
  }
  .cardNewPage .cardRight {
    flex-basis: 66%;
    padding-top: 25px;
  }
  .cardNewPage .cardRight img {
    height: 100px;
    border-radius: 50%;
  }
  #usersTable {
    display: none;
  }

  #usersTable table {
    width: 100%;
    font-size: 12px;
    border: 1px solid gray;
  }
  #usersTable table tr td {
    border: 1px solid gray;
  }

  form button {
    padding: 5px;
  }

  .footer-container ul li {
    list-style: none;
    display: inline;
    border: 1px solid black;
    background-color: black;
    padding: 3px;
  }
  .footer-container ul li a {
    text-decoration: none;
    background: rgb(255, 8, 8);
    text-align: center;
    border-radius: 20px 5px;
    font-size: 110%;
    color: white;
    margin: 5px;
  }

  .footer-container ul li a:hover {
    opacity: 0.5;
    color: #333;
  }

  .main-footer {
    border: solid 1px;
    bottom: 0;
    z-index: 2;
    background: rgb(0, 0, 0);
  }

  .main-footer .container {
    display: flex;
    font-size: 14px;
    width: 100%;
    color: white;
  }
  .main-footer .container h3,
  h2 {
    color: var(--light-color);
  }

  .main-footer .container :nth-child(5) {
    background: black;
    position: sticky;
  }

  .main-footer .container div li {
    margin: 0px;
    padding: 2px;
    display: grid;
    border-radius: 5px;
    width: 170px;
  }
  .main-footer .container div li :hover {
    background: red;
    color: black;
  }

  .main-footer .container {
    width: 100%;
  }

  .footer-container :nth-child(4) img:hover {
    opacity: 0.5;
    cursor: pointer;
  }
  .footer-container :nth-child(4) img {
    margin: 5px;
  }
  .footerImg img {
    height: 75px;
  }
  .footerImg {
    padding: 10px;
  }

  .footerImg h4 {
    text-decoration-line: underline;
  }

  .footer_end {
    background: black;
    bottom: 0;
    position: sticky;
    color: white;
    text-align: center;
  }

  .footer-container div h3 {
    text-decoration-line: underline;
  }
}
